@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto&display=swap");

:root {
	--dark-color: #272d4e;
	--light-gray: #94a2b3;
	--purple-color: #7854f7;
	--green-color: #70c217;
	--light-blue: rgb(91, 165, 250);
	--dark-blue: #062f6e;
	--body-font: "Roboto", sans-serif;
	--head-font: "Raleway", sans-serif;
}
*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	position: relative;
	color: var(--dark-color);
	font-size: 16px;
}
::selection {
	color: #fff;
	background: var(--dark-color);
	text-shadow: none;
}
/*scroll bar style*/
body::-webkit-scrollbar {
	width: 0.5em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.19);
	background-color: var(--lightGray-color);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--dark-blue);
	outline: 1px solid var(--dark-blue);
}
h1,
h2,
h3,
h4h5,
h6 {
	font-family: var(--head-font);
}
h1,
h2 {
	line-height: 1.3 !important;
}

/* using @layer*/
@layer components {
	.link {
		@apply cursor-pointer hover:underline;
	}
}
.banner {
	background-position: right top, left top;
	background-size: 40%, 100%;
	position: relative;
}
.carousel-root,
.carousel-slider {
	width: 100%;
	height: 100%;
}
.bg-feat {
	background: url("/assets/images/purple-bg.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 800px;
}
.testi {
	background-color: #fff;
	border-radius: 30px;
	box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5),
		0px 25px 52.8537px rgba(215, 228, 249, 0.5);
}
.testi .control-arrow {
	top: 100% !important;
	color: #062f6e !important;
}
.testi .control-prev:before {
	border-right: 8px solid #062f6e !important;
}
@media (max-width: 1260px) {
	.bg-feat {
		background: linear-gradient(var(--purple-color), #7754f7c3);
		height: auto;
	}
}
