@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

/* @tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens; */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
	--dark-color: #272d4e;
	--light-gray: #94a2b3;
	--purple-color: #7854f7;
	--green-color: #70c217;
	--light-blue: rgb(91, 165, 250);
	--dark-blue: #062f6e;
	--body-font: "Roboto", sans-serif;
	--head-font: "Raleway", sans-serif;
}
*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	position: relative;
	color: var(--dark-color);
	font-size: 16px;
	overflow-x: hidden;
}
::selection {
	color: #fff;
	background: var(--light-blue);
	text-shadow: none;
}
/*scroll bar style*/
body::-webkit-scrollbar {
	width: 0.5em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.19);
	background-color: var(--lightGray-color);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--dark-blue);
	outline: 1px solid var(--dark-blue);
}
h1,
h2,
h3,
h4h5,
h6 {
	font-family: var(--head-font);
}
h1,
h2 {
	line-height: 1.3 !important;
}

/* using @layer*/
@layer components {
	.link {
		@apply cursor-pointer hover:underline;
	}
	.pro-btn {
		@apply p-2 text-xs md:text-sm bg-gradient-to-b from-purple-300 to-purple-500 border border-purple-200 rounded-sm focus:outline-none focus:ring-2 focus:ring-purple-500 active:from-purple-500 text-white;
	}
}
.banner {
	background-position: right top, left top;
	background-size: 40%, 100%;
	position: relative;
	margin-bottom: 70px;
}
.slider-content {
	display: flex !important;
}
.bg-feat {
	background: url("/assets/images/purple-bg.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 800px;
}
.testi {
	background-color: #fff;
	border-radius: 30px;
	box-shadow: 0px 18px 40.8537px 0px rgba(255, 255, 255, 0.5),
		0px 25px 40.8537px 0px rgba(207, 240, 254, 0.5);

	position: relative;
}
.slick-arrow {
	top: 110% !important;
	right: 0 !important;
	bottom: -50px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	position: absolute;
	cursor: pointer;
}
.slick-prev {
	left: 80%;
}
.slick-arrow:before {
	color: var(--dark-blue);
	font-size: 20px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	content: "\f177";
	font-family: FontAwesome;
}
.slick-next:before {
	content: "\f178";
}
.banner .slick-arrow {
	top: 100% !important;
	left: 50% !important;
	transform: translateX(-50%);
}
.banner .slick-next {
	left: 55% !important;
}

@media (max-width: 1260px) {
	.bg-feat {
		background: linear-gradient(var(--purple-color), #7754f7c3);
		height: auto;
	}
}
footer li {
	color: rgb(212, 211, 211);
	padding-top: 5px;
}
